.navigation{
  display: flex;
  justify-content: space-between;
  background-color: black;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  height: 10%;
  width: 100%;
  position: fixed;
  z-index: 99;
}
.header{
  font-size: 2rem;
  margin: auto;
  margin-left: 12%;
}
.navigation-items{
  display: flex;
  margin: auto;
}
.navigation-item{
  margin-left: 40px;
  font-size: 1.3rem;
  padding: 10px;
  cursor: pointer;
}
.navigation-item:hover{
  box-shadow: 5px 5px 0px 0px brown;
  border-radius: 10px;
}