/* SimpleBottomNavigation.css */

.bottom-navigation {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    background-color: #2d313a;
    z-index: 100;
  }
  
  .bottom-navigation-item {
    flex: 1;
    padding: 10px;
    text-align: center;
    color: #fff;
    cursor: pointer;
  }
  
  .bottom-navigation-item.active {
    background-color: #1976d2; /* Active background color */
  }
  